<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="MyLogFile" fileName="logs/log4j/testDB.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <File name="MyLogFileForTask" fileName="logs/log4j/task.log">
            <MarkerFilter marker="consoleonly" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="stdout">
            <PatternLayout pattern="%d [%p] %c %m%n"/>
        </Console>
        <JDBC name="db" tableName="app_logs">
            <DriverManager connectionString="jdbc:postgresql://localhost:5432/testDB" driverClassName="org.postgresql.Driver"
                           username="postgres" password="Asdf4321"/>
            <Column name="log_id" pattern="%u" isUnicode="false"/>
            <Column name="entry_date" isEventTimestamp="true"/>
            <Column name="logger" pattern="%logger" isUnicode="false"/>
            <Column name="log_level" pattern="%level" isUnicode="false"/>
            <Column name="message" pattern="%m" isUnicode="false"/>
            <Column name="exception" pattern="%throwable" isUnicode="false"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="MyLogFile" level="DEBUG"/>
            <AppenderRef ref="stdout" level="INFO"/>
        </Root>
        <Logger name="task" level="trace" additivity="false">
            <AppenderRef ref="MyLogFileForTask" level="TRACE"/>
            <AppenderRef ref="stdout" level="INFO"/>
            <AppenderRef ref="db" level="INFO"/>
        </Logger>
    </Loggers>
</Configuration>